@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --left-btn-hover-color: rgb(98, 221, 73);
    --right-btn-hover-color: rgb(98, 221, 73);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1{
    font-size: 4rem;
    color: white;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    white-space: nowrap;
}

.btn{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    border: white solid 0.2rem;
    font-size: 1rem;
    width: 15rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

.split.left .btn:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left{
    left: 0;
    background: url('https://images.unsplash.com/photo-1509741102003-ca64bfe5f069?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.split.right{
    right: 0;
    background: url('https://images.unsplash.com/photo-1568378711447-f5eef04d85b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media (maxwidth:800px){
    h1{
        top:30%;
        font-size: 2rem;
    }

    .btn{
        width: 12rem;
        padding: 1.2rem;
    }
}